<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="csrf-token" content="<%= csrfToken %>">
	<title>blog - edit</title>
	<%- include('../layouts/styles'); %>
</head>

<body id="blog-edit">

	<%- include('../layouts/nav'); %>

	<main>
		<section class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1 class="display-4">blog edit</h1>
			</div>
		</section>
		<section class="container">
			<div class="row">
				<div class="col">
					<%_ if (locals.errors) { _%>
						<%_ for (error of errors) { _%>
							<div class="alert alert-warning alert-dismissible fade show" role="alert">
								<%= error.msg; %>
								<button type="button" class="close" data-dismiss="alert">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						<%_ } _%>
					<%_ } _%>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<form action="/blog/<%= blog._id; %>/?_method=PUT" method="POST">
						<input type="hidden" name="_csrf" value="<%= csrfToken; %>">
						
						<div class="form-group">
							<label for="post_title">post_title</label>
							<input type="text" name="post_title" class="form-control" id="post_title" >
						</div>
						
						<div class="form-group">
							<label for="post_slug">post_slug</label>
							<input type="text" name="post_slug" class="form-control" id="post_slug" >
						</div>
						
						<div class="form-group">
							<label for="post_body">post_body</label>
							<textarea name="post_body" class="form-control" id="post_body"  rows="3"></textarea>
						</div>

						<button type="submit" class="btn btn-primary">Submit</button>

					</form>
				</div>
			</div>
		</section>
	</main>


	<%- `<script>
		var blog = ${JSON.stringify(blog)};
	</script>` %>
	<%- include('../layouts/scripts'); %>
</body>

</html>
